---
import Layout from "../layouts/Layout.astro";
import { StoriesListContainer } from "../components/StoriesListContainer";
import { HN_ENDPOINTS } from "../constants";
---

<Layout title="Top Stories - Hacker News">
  <main>
    <StoriesListContainer endpoint={HN_ENDPOINTS.topstories} client:load />
  </main>
</Layout>

<style></style>
