---
import Layout from '../layouts/Layout.astro';
import { StoriesListContainer } from '../components/StoriesListContainer';
---

<Layout title="Top Stories - Hacker News">
	<main>
		<StoriesListContainer endpoint="topstories" client:load />
	</main>
</Layout>

<style>
</style>
