---
import Layout from '../layouts/Layout.astro';
import { StoryDetailsContainer } from '../components/StoryDetailsContainer';
---

<Layout title="Story details - Hacker News">
	<main>
		<StoryDetailsContainer client:load />
	</main>
</Layout>

<style>
</style>
