---
import Layout from "../layouts/Layout.astro";
import { StorySubmissionForm } from "../components/StorySubmissionForm";
import { StoriesListContainer } from "../components/StoriesListContainer";
import { HN_ENDPOINTS } from "../constants";
---

<Layout title="Show Stories - Hacker News">
  <main class="flex flex-col bg-[#f6f6ef] p-2">
    <StorySubmissionForm client:load />
    <StoriesListContainer
      endpoint={HN_ENDPOINTS.submissions}
      placeholders={0}
      client:load
    />
  </main>
</Layout>

<style></style>
